<!DOCTYPE html>
<html>
<head>
  <title>Portal do Game</title>
  
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<body>
  
  <h1 class="nav justify-content-center nav-underline img-fluid" ><img src="/logo.png" id="logo"> </h1>

  <div class="container text-center">
    <div class="row">
     
      
     
    </div>
    <div class="row">
      <div class="col-4 zoom"  >        
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/51vLIXjlTvL._AC_SY450_.jpg" class="card-img-top imagens">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/618va-CRyPL._AC_SX450_.jpg" class="card-img-top  imagens">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/81NLx-3AAoL._AC_SX466_.jpg" class="card-img-top imagens ">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/610aw15JvKL._AC_SX679_.jpg" class="card-img-top imagens">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/51Ieq0twp+L._AC_SX679_.jpg" class="card-img-top imagens">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <img src="https://m.media-amazon.com/images/I/81Z1xBs6GoL._AC_SX679_.jpg" class="card-img-top imagens ">
          <div class="card-body">
            <h5 class="card-title">Note</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://m.media-amazon.com/images/I/81NLx-3AAoL._AC_SX466_.jpg"></script>
</body>
</html>